nav {
    display: flex;
    background-color: #B61E2E;
    padding: 5px;
    box-shadow: -5px 0px 5px black;
}

nav a {
    padding: 25px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav span {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}